
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  text-decoration: none;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scrollbar-width: smooth;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  height: 60px;

  background-color: #4D992B;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-logo-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-logo {
  width: 50px;
  height: auto;

  border-radius: 50%;
}

.links-nav-container {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-nav {
  font-size: 16px;

  color: #ffffffc7;

  transition: all 0.1s ease-in-out;
}
.link-nav:hover {
  color: #fff;
  text-decoration: underline;
}

.carousel-inner{
  width: 100%;
  height: 500px;
}
.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.main{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #4D992B;
}

.sobre{
  width: 95%;
  height: auto;

  margin: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  border-radius: 20px;
}

.descricao-sobre{
  width: 50%;
  height: auto;

  margin-left: 50px;

  color: #105c32;
  font-size: 18px;
  text-align: justify;
}
.descricao-sobre > p{
  font-size: 22px;
}

.img-sobre{
  width: 400px;
  height: auto;
}
.img-sobre > img{
  width: 100%;
  height: auto;
  border-radius: 18px;
}

.servicos{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  background-color: #fff;
}

.title-servico{
  color: #105c32;
  margin-top: 20px;
  padding: 20px 80px;
  font-size: 32px;
  font-weight: bold;

  border: 1px solid #105c32;
  border-radius: 50px;

}

.card-servicos{
  width: 100%;
  height: auto;

  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card{
  border-color: #105c32;
}

.card-title, .card-text{
  color: #105c32;
}
.btn-primary{
  background-color: #105c32;
  border: none;
}
.btn-primary:hover{
  background-color: #4D992B;
}

/* Contato */

#form{
  width: 100%;
  height: 90dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#form>h1{
  color: #105c32;
}

input{
  width: 500px;
  height: 50px;
  text-align: justify;

  padding: 20px 10px;
  border-radius: 20px;
  border: solid 1px #105c32;
}

#form>label{
  color: #105c32;
  font-size: 1.8rem;
}

#form>select{
  width: 300px;
  height: 50px;

  padding: 5px 10px;
  border-radius: 20px;
  border: solid 1px #105c32;
  color: #fff;
  background-color: #105c32;
}

#form>select:hover{
  cursor: pointer;
}

#form>button{
  width: 200px;
  height: 50px;

  border-radius: 20px;
  border: solid 1px #105c32;
  color: #fff;
  background-color: #105c32;
}